

html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

main-body{
    color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
  background-color: beige;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;


}


/* CSS for To-Do-List form below: */




#todotitle {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    position: absolute;
    top:55px;
    left: 0;
    width: 100%;
    text-align: center;
}


#todomessage {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    text-transform: none;
}

.submittaskbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 30px;
    
    
    font-family: "Times New Roman", Times, serif;
    font-weight: 300;
    text-decoration: black;
}

.submittaskbutton:hover {
        background: #808080
    }

.submittaskbutton:active {
      background:blue;
    }


.navbartest {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content:center;
    align-items: center;
    
}



/* CSS for Users Printed List*/

.listitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-variant: small-caps;
}

.userlist {
    
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.userTableEntrys {
   
}