

html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

main-body{
    color: black;
}

html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
  background-color: beige;
}

.container{
   display:flex;
   justify-content: center;
   align-items: center;


}


/* CSS for To-Do-List form below: */

.mainToDoForm {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    
}


#todotitle {

   
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
    width: 100%;
    text-align: center;
}


#todomessage {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-align: center;
    text-transform: none;
}



.taskForm {
    
    
   
}





.submittaskbutton,
.submittaskbutton *,
.submittaskbutton :after,
.submittaskbutton :before,
.submittaskbutton:after,
.submittaskbutton:before {
    border: 0 solid;
    box-sizing: border-box;
    text-align: center;
}

.submittaskbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: black; /* Button background color */
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
    text-align: center;
    width:500px;
}

.submittaskbutton:disabled {
        cursor: default; /* Disabled button cursor */
    }

.submittaskbutton:-moz-focusring {
        outline: auto; /* Outline for accessibility */
    }



.submittaskbutton[hidden] {
        display: none; /* Hide element when "hidden" attribute is present */
    }

.submittaskbutton {
    border-radius: 99rem; /* Rounded corners */
    border-width: 2px;

    /* Padding for size */
    padding-right: 100px;
    padding-left: 100px;
    
}

    .submittaskbutton:hover {
        color: #999; /* Text color on hover */
    }










/* CSS for Users Printed List*/



.listitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    font-variant: small-caps;
}



.userlist {
    
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


#tableHeader{
    border-bottom-width: 1px;
    padding: 10px;
}

.userTable
{
    width:100%;
    border-collapse: collapse;
}

.userTable tr 
{
        border-bottom: 1px solid black;
}


.userTable th
{

    
}


 .userTable td 
 {
        border-right: 1px solid black;
        border-left: 1px solid black;
}

.userTable th, .userTable td 
{
        
        padding: 8px 12px; /* Adds consistent padding */
        text-align: left; /* Aligns content to the left */
}

